.popThumbnail {
  height : 410px;
  color : white;
}
.popThumbnail > a > img{
  width : 266px;
  height : 337px;
}

.thumbnail-caption {
  color : white;
}

.text-white{
  color : white;
}
.text-black{
  color : black;
}
.bar-orange {
  background-color : #FF6600;
  border-color : #333333;
}
.bg-front {
  background-color : #444444;
  border-color : black;
}
.bg-back {
  background-color: #333333;
  border-color : black;
}

.button-clear.button-clear {
  color : black;
}
.list {
  background-color: #333333;
  border-color : black;
}
.item {
  border-color : #444444;
}
.item-complex .item-content, .item-radio .item-content{
  border-color : black;
  color : white;
  background-color : #333333;
}
.image-container{
  margin-left : 10%;
  margin-right : 10%;
  width : 80%;
}
