<ion-view title="Chapter List">
  <ion-content class="has-header" ng-class="{expanded : isExpanded}">
    <!--
    <div class="list" collection-repeat="chapter in chapters">
      <a href="#/app/chapterViewer" ng-click="setChapter(chapter)" class="item item-icon-left">
        <i class="icon"
          ng-class="{'ion-document' : !chapter.clicked, 'ion-document-text' : chapter.clicked}"></i>
        <h2>Chapter <span ng-bind="chapter[0]"></span>: <span ng-bind="chapter[2]"></span></h2>
        <p ng-bind="chapter[1]"></p>
      </a>
    </div>
  -->
<!--
  <div ng-hide="loading">
    <react-component name="ChapterListComponent" props="data" />
  </div>
  <div ng-show="loading" class="text-center" style="height : 100%;">
    <br><br><br><br>
    <ion-spinner icon="lines"></ion-spinner>
  </div>
-->
    <react-component name="ChapterChunksListComponent" props="data"></react-component>
  </ion-content>
</ion-view>
