<ion-view title="Chapter List">
  <ion-content class="has-header" ng-class="{expanded : isExpanded}">
    <div class="list" collection-repeat="chunk in chapterChunks track by chunk[0][0]">
      <a href="#/app/chapterList" ng-click="setChunk(chunk)"
          class="item item-icon-left">
          <i class="icon ion-folder"></i>
          <h2 class="title"><span ng-bind="::chunk[0][0]"></span> -
            <span ng-bind="::chunk[chunk.length-1][0]"></span></h2>
      </a>
    </div>

<!--
  <div ng-hide="loading">
    <react-component name="ChapterListComponent" props="data" />
  </div>
  <div ng-show="loading" class="text-center" style="height : 100%;">
    <br><br><br><br>
    <ion-spinner icon="lines"></ion-spinner>
  </div>
-->
    <!--<react-component name="ChapterChunksListComponent" props="data"></react-component>-->
  </ion-content>
</ion-view>
