<!-- manga details menu -->
<ion-view title="Details">
  <ion-content class="has-header" ng-class="{expanded : isExpanded}">
    <div ng-hide="loading">
      <div class="hero slide-up" ng-class="{slideInRight, animated : !loading}"
        style="background-image : url('https://cdn.mangaeden.com/mangasimg/{{manga.image}}'); width : 100%; height : 300px">
        <div class="content">
          <h3 ng-bind="manga.title"></h4>
        </div>
      </div>

      <div class="col-md-8 col-lg-9">
        <h1 ng-bind="manga.title"><h1>
        <h3><span ng-bind="manga.author"></span></h3>
        <p>Year Released: <span ng-bind="manga.released"></span></p>
        <p>Number of Chapters: <span ng-bind="manga.chapters_len"></span></p>
        <p>Last Chapter Released on: <span ng-bind="manga.last_chapter_date"></span></p>
        <p>Description: <span ng-bind-html="manga.description"></span></p>
        <p>Categories: <span ng-bind="manga.categories"></span></p>
      </div>
      <div ng-show="hasChapters">
        <a href="#/app/chapterList">
          <button class="button button-full button-calm">Chapter List</button>
        </a>
      </div>
    </div>
    <div ng-show="loading" class="text-center" style="height : 100%;">
      <br><br><br><br>
      <ion-spinner icon="lines"></ion-spinner>
    </div>
    <br>
  </ion-content>
</ion-view>
